<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>has made <%= @user.ratings.count %> ratings</p>
<p>ratings average score: <%= @user.average_rating %></p>

<p><strong>Ratings: </strong></p>
<ul>
  <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
  <% end %>
</ul>
<% if @user == current_user %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Delete user', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', users_path %>
<% end %>