<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>has made <%= @user.ratings.count %> ratings</p>
<p>ratings average score: <%= @user.average_rating %></p>

<% if @user.beer_clubs.any? %>

    <p>member of
      <% @user.beer_clubs.each do |club| %>
          <%= link_to club.name, club%>
      <% end %>
    </p>
<% else %>
    <p>no beerclub memberships</p>
<% end %>

<p><strong>Ratings: </strong></p>
<ul>
  <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
  <% end %>
</ul>
<% if @user == current_user %>
<%= link_to 'Change password', edit_user_path(@user) %> |
<%= link_to 'Delete user', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>