<h2>List of Ratings</h2>
<div class="col-xs-4">
<h3>Best breweries</h3>
<%= render 'list', tops: @top_breweries %>
</div>
<div class="col-xs-4">
  <h3>Best beers</h3>
<%= render 'list', tops: @top_beers %>
</div>
<div class="col-xs-4">
  <h3>Best style</h3>
<%= render 'list', tops: @top_styles %>
</div>
<br>
<div class="col-xs-12">
<h3>Most active users</h3>
<%= render 'raterlist', tops: @top_raters %>
</div>
<% if current_user.nil? %>
<% else %>

    <p><%= link_to 'New Rating', new_rating_path, class: "btn btn-primary" %></p>
<% end %>
