<h1><%= @style.name %></h1>


<quote>
  <%= @style.description %>
</quote>

<p></p>
<strong>Beers:</strong>
<ul>
<% @style.beers.each do |beer| %>

      <li><%= link_to beer.name, beer %> by <%= link_to beer.brewery.name, beer.brewery %></li>
<% end %>
</ul>
</p>

<% if current_user %>
    <%= edit_and_destroy_buttons(@style) %>
<% end %>
